html, body {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	text-transform: lowercase;
	background-color: #f4f4f4;
}

h3 {
	font-size: 27px;
}

p {
	margin: 16px 0;
    font-size: 13px;
}

.main-container {
	width: 100%;
	display: flex;
}

.side-bar {
	position: fixed;
	width: 200px;
	background-color: #191919;
	height: 100vh;
	color: white;
}

.tags {
	/* margin: 0 35px; */
}

.gif-tags{
	position: relative;
}

.gif-button {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 0.5px;
	color: #d4d4d4;
	margin-right: 35px;
	margin-left: 35px;
}

.gif-button:hover {
	cursor: pointer;
	color: white;
}

.active {
	color: white;
}

.selector {
    width: 0;
    height: 0;
    top: 0px;
    left: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 11px solid white;
	position: absolute;
}


.title {
	margin: 45px 0;
	font-weight: 700;
	text-align: center;
}

.gif-content {
	width: 100%;
	margin: 45px 0 45px 200px;
}

.search-bar {
	display: flex;
}

.input-bar {
    margin-left: 60px;
    border: 3px solid black;
    height: 47px;
    width: 50%;
    font-size: 15px;
    padding: 10px 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
	box-sizing: border-box;
	background-color: #f4f4f4;
}

.input-bar:focus, .search:focus, .search:active {
	outline: none;
}

.search {
	background-color: black;
	padding: 5px 20px;
	color: white;
	border: 0;
	font-size: 16px;
	font-style: italic;
	font-weight: 600;
}

.search:hover {
	cursor: pointer;
	opacity: 0.9;
}

.gif-area {
	display: flex;
	flex-wrap: wrap;
	margin: 50px;
}

.gif {
    width: calc(33.333% - 40px);
    margin: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 3px 3px 9px rgba(141,141,141,0.1);
}


.gif img {
	height: 250px;
	width: 100%;
	object-fit: cover;
}

@media screen and (max-width: 1050px) {
	.gif {
		width: calc(50% - 40px);
	}
}