html, body {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	background-color: #f4f4f4;
}

h3 {
	font-size: 27px;
}

p {
	margin: 16px 0;
    font-size: 13px;
}

.main-container {
	width: 100%;
}

.side-bar {
	position: fixed;
	width: 200px;
	background-color: #191919;
	height: 100vh;
	color: white;
}

.gif-tags{
	position: relative;
}

.gif-button {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 0.5px;
	color: #b1b1b1;
	padding: 0 25px 0 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.gif-button:hover {
	cursor: pointer;
	color: white;
}

.active {
	color: white;
}

.selector {
    width: 0;
    height: 0;
    top: 0px;
    left: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 11px solid white;
	position: absolute;
}

.title {
	margin: 35px 0 39px;
	font-weight: 700;
	text-align: center;
}

.restart {
	position: absolute;
	/* background-color: #f2cb5f; */
	bottom: 26px;
	right: 0;
	left: 0;
	text-align: center;
}

.gif-content {
	width: calc(100% - 200px);
	float: right;
	margin-top: 25px;
}

.search-container {
	margin-left: 60px;
	width: 570px;
    padding: 10px 25px;
    border-radius: 23px;
    background-color: #e5e5e5;
}

.search-container i {
	color: #888888;
    font-size: 12px;
    margin-right: 11px;
}

.input-bar {
    background-color: #e5e5e5;
    border: 0;
    font-weight: 600;
    height: 24px;
    letter-spacing: 0.2px;
	width: 95%;
	color: #191919;
}

.input-bar:focus, .input-bar:active {
	outline: none;
}

.submit {
	display: none;
}

.gif-area {
	display: flex;
	flex-wrap: wrap;
	margin: 23px 50px 35px;
}

.gif {
    width: calc(33.333% - 40px);
    margin: 10px;
    padding: 10px;
    background-color: white;
	box-shadow: 3px 3px 9px rgba(141,141,141,0.1);
	position: relative;
}

.gif img {
	height: 250px;
	width: 100%;
	object-fit: cover;
}

.rating {
	position: absolute;
	text-transform: uppercase;
    top: 16px;
    right: 15px;
    font-size: 11px;
    padding: 5px 8px;
    background-color: rgba(255,255,255,0.9);
}

@media screen and (max-width: 1050px) {
	.gif {
		width: calc(50% - 40px);
	}
}